@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: none;
}

.contact {
  display: none;
}

.awesome-h1 {
  font-size: 20px;
  text-align: center;
}

.book-list-container {
  height: 75vh;
}

.book-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 2px solid black;
  margin: 10px;
}

div.book-list > div:nth-of-type(odd) {
  background: #cfcfcf;
}

.book-p1 {
  display: inline-block;
  padding: 4px;
  font-weight: 700;
  float: left;
}

.delete {
  font-weight: 700;
  float: right;
  margin: 3px;
}

.awesome-form {
  height: 75vh;
  padding: 90px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-h2 {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}

.awesome-btn {
  padding: 2px 8px;
  font-weight: 600;
}

.awesome-btn-folder {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.awesome-input {
  width: 70%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 2px 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 3px solid black;
  margin: 5px 10px;
}

.nav-ul {
  display: flex;
  list-style: none;
}

.nav-a {
  text-decoration: none;
  color: black;
  padding: 3px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2.4px solid black;
  transition: all 0.3s ease-in;
}

.nav-a:hover {
  color: tomato;
  cursor: pointer;
}

#nav-contact {
  border: none;
}

.date {
  padding: 2px 12px 10px 12px;
}

.nav-date {
  font-size: 16px;
  text-align: end;
  font-weight: 500;
}

.copyright-container {
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  gap: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 30px;
  height: 75vh;
}

.contact-h2 {
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.contact-p {
  margin-bottom: 30px;
}

.booklist-h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
